:root {
    --black: #353535;
    --blue: #636DAB;
    --pink: #faa1ab;
    --lavande: #CE9FBF;
    --white: #FFF;
    --gray: #d6caca48;
    --mainBorder:25px;
    --mainBorder2:40px;
}



/* Здесь дефолтные настройки */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}
#button{
    cursor: pointer;
    transition: .4s ease;
    margin-top: 30px;
    width: 12vw;
    height: 4vh;
    border-radius: 40px;
    border: 1px solid var(--black);
    background-color: var(--white);
    font-size: large;
}
#button:hover{
    transform: scale(1.1);
}
body {
    margin: 50px 100px;
}



/* Здесь начинается HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: var(--mainBorder);
}
header:hover {
    background-color: var(--gray);
}
.header_logo--large {
    margin: 0 10px 0 0;
}
.header_navigation_container {
    display: flex;
}
.header_navigation {
    text-decoration: none;
    align-self: center;
    font-size: 1.1rem;
    margin: 0 10px;
}
.header_navigation--flex {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1px, 1vw, 10px);
    margin: 0 10px;
}
header a{
    transition: .4s ease;
}
header a:hover{
    transform: scale(1.1);
}



/* Здесь начинается Карточка со ссылкой на детали продукта */
.card_productDetails:hover {
    background-color: var(--gray);
    border-radius: var(--mainBorder);
}
.card_productDetails {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 100px 0;
}
.card_productDetails_title--txt {
    font-size: clamp(10px, 3vw, 40px)
}
.card_productDetails_subtitle {
    font-size: clamp(10px, 5vw, 60px)
}
.card_productDetails_img {
    position: relative;
}
.card_productDetails_img--main {
    border-radius: var(--mainBorder2);
    width: 100%;
}
.card_productDetails_img>img:nth-child(2) {
    position: absolute;
    width: 20%;
    bottom: 0;
    right: 0;
}
.card_productDetails_img>img:nth-child(3) {
    position: absolute;
    width: 30%;
    bottom: -3%;
    left: -7%;
}
.card_productDetails_img>img:nth-child(4) {
    position: absolute;
    width: 30%;
    bottom: 1%;
    left: -3%;
}
.card_productDetails_img>img:nth-child(5) {
    position: absolute;
    width: 19%;
    bottom: 3%;
    left: 13%;
}



/* Здесь начинается Блок с кнопкой DISCOVER*/
.discover_block{
    margin: 30px 0 100px 0;
    position: relative;
    border-radius: var(--mainBorder);
    background-image: url(/webAboutBabyProject/mainPage/bigImage/creative-composition-stylish-cozy-child-room-interior-with-plush-toys-sofa-commode-armchair-carpet-accessories.png);
    background-size: cover;
    width: 100%;
    height: 75vh;
}
.discover_block>img:nth-child(1){
    width: 20%;
    position: absolute;
    left: 40%;
    bottom: 40%;
}
.discover_block>img:nth-child(2){
    width: 15%;
    position: absolute;
    left: 15%;
    bottom: 35%;
}
.discover_block>img:nth-child(3){
    width: 15%;
    position: absolute;
    right: 15%;
    bottom: 35%;
}
.discover_block>img:nth-child(4){
    width: 7%;
    position: absolute;
    left: 30%;
    bottom: 25%;
}
.discover_block>img:nth-child(5){
    width: 8%;
    position: absolute;
    right: 30%;
    bottom: 25%;
}
.discover_block button{
    position: absolute;
    bottom: 15%;
    left: 41%;
}




/* Здесь начинается блок с выбором категории товаров */
.product-category-selector--small{
    margin: 30px 0 100px 0;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: var(--mainBorder);
    font-size: large;
}
.product-category-selector--small a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}
.product-category-selector--small a img{
    border-radius: 100%;
}
.product-category-selector--small:hover{
    background-color: var(--gray);
}
.product-category-selector--small a.category{
    transition: .4s ease;
}
.product-category-selector--small a.category:hover{
    transform: scale(1.1);
}



/* Здесь начинается Карточка со ссылкой на детали продукта НОМЕР 2 */
.card_productDetails2:hover {
    background-color: var(--gray);
    border-radius: var(--mainBorder);
}
.card_productDetails2 {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 100px 0;
    gap: 200px;
}
.card_productDetails_title2--txt {
    font-size: clamp(10px, 3vw, 40px);
    margin: 30px 0;
}
.card_productDetails_subtitle2 {
    font-size: clamp(10px, 3vw, 30px)
}



.card_productDetails_img--second {
    position: relative;
}
.card_productDetails_img--main {
    border-radius: var(--mainBorder2);
    height: 100%;
}
.card_productDetails_img--second>img:nth-child(2) {
    position: absolute;
    width: 25%;
    top: 0;
    right: 110%;
}
.card_productDetails_img--second>img:nth-child(3) {
    position: absolute;
    width: 35%;
    bottom: -2%;
    left: -15%;
}
.card_productDetails_img--second>img:nth-child(4) {
    position: absolute;
    width: 35%;
    bottom: -2%;
    right: 25%;
}








/* Здесь начинаются 3 большие карточки по центру */
.threecards:hover{
    background-color: var(--gray);
    border-radius: var(--mainBorder);
}
.threecards {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    margin: 0 0 100px 0;
    position: relative;

}
.cards_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;

}
.cards_item img {
    border-radius: var(--mainBorder2);
    width: 95%;
}
.cards_description{
    text-align: center;
    margin-top: 30px;
    width: 80%;
    font-size: clamp(5px, 3vw, 30px);
}




/* Здесь начинается блок с BEST SELLER */

.our_best_seller img {
    justify-content: center;
    border-radius: var(--mainBorder2);
}