:root {
    --black: #353535;
    --blue: #636DAB;
    --pink: #faa1ab;
    --lavande: #CE9FBF;
    --white: #FFF;
    --gray: #d6caca48;
    --mainBorder: 25px;
    --mainBorder2: 40px;
}



/* Здесь дефолтные настройки */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

/* Здесь начинается HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: var(--mainBorder);
}

header:hover {
    background-color: var(--gray);
}

.header_logo--large {
    margin: 0 10px 0 0;
}

.header_navigation_container {
    display: flex;
}

.header_navigation {
    text-decoration: none;
    align-self: center;
    font-size: 1.1rem;
    margin: 0 10px;
}

.header_navigation--flex {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1px, 1vw, 10px);
    margin: 0 10px;
}

header a {
    transition: .4s ease;
}

header a:hover {
    transform: scale(1.1);
}

.grid-item  p {
    margin-bottom: 50px;
    font-size: xx-large;
}

